body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 97vh;
}

header,
footer {
	text-align: center;
}

footer a {
	text-decoration: none;
}

footer svg {
	max-width: 2rem;
	margin-right: 1rem;
	color: black;
}

footer svg:hover {
	opacity: 0.7;
	color: red;
}

.description {
	display: flex;
	justify-content: space-around;
}

.description .card {
	max-width: 360px;
}

pre {
	font-family: Arial, Helvetica, sans-serif;
}

.langSwitcher {
	display: flex;
	justify-content: center;
}

.lang {
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 1px solid transparent;
}

.lang:hover {
	opacity: 0.7;
}

.langSwitcher .currentLang {
	border: 1px solid red;
	background-color: red;
	color: white;
}

.row {
	display: flex;
}

.key {
	/* min-width: 2rem; */
	min-height: 3.4375rem;
	background-color: black;
	color: white;
	padding: 0.5rem;
	margin: 0.2rem;
	border-radius: 0.2rem;
	font-family: Arial, Helvetica, sans-serif;
	flex: 1;
	font-size: 1.5rem;
	position: relative;
	cursor: pointer;
}

.shiftKeyOn {
	background-color: red;
}

.key.activeKey {
	position: absolute;
	top: -50%;
	left: -50%;
	animation: pulse 1s;
	width: 150%;
	height: 150%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
	z-index: 2;
}

@keyframes pulse {
	0% {
		background-color: black;
	}
	100% {
		background-color: red;
	}
}

.keyboard {
	/* border: 1px solid red; */
}

.row-1 {
}

.row-1 .key {
	height: 1rem;
	min-height: 1rem;
	font-size: 0.7rem;
}

.Backspace {
	font-size: 0.6rem;
}

.ArrowUp,
.ArrowDown,
.ArrowLeft,
.ArrowRight {
	flex: 0.5;
}

.Space {
	flex: 5;
}

.Tab {
	flex: 1.3;
}

.CapsLock {
	flex: 1.7;
}

.ShiftLeft {
	flex: 2;
}

/* 
@font-face {
	font-family: Scheherazade;
	src: url(fonts/ScheherazadeNew-Regular.ttf);
}

.ar {
	font-family: Scheherazade;
	font-size: medium;
}
 */
